<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="images/favicon.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timothy Dry | Portfolio</title>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href='css/style.css' />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  </head>



  <body ng-app="myApp">
    <container class="fluid" ng-controller="myCtrl">
      <!-- navbar -->
     <!--  <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

        </div>
      </div> -->
      <!-- end navbar -->
      <!-- my apps section -->
      <section>
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="dataset in information">
              <div class="flip">
                <div class="card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">
                  <div class="face front">
                    <img class="myapp-img" src={{dataset.src}} data-name={{dataset.dataname}}
                    data-link={{dataset.datalink}} alt={{dataset.alt}}>
                  </div>
                  <div class="face back">
                    <h3>Notes:<br/>
                      <span class="text-center">
                        {{dataset.text}}
                      </span><br/>
                      <a href={{dataset.datalink}} target="_blank">Open App</a>
                    </h3>
                  </div>
                </div>
              </div>
          </div>

        </div>
      </section>

    </container>

    <footer class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <a id="me" href="https://timothy-dry.herokuapp.com"><h4>Copyright &copy; 2017 Timothy Dry</h4></a>
      </div>
    </footer>

    <script src="java/app.js"></script>
  </body>
</html>
Add Comment Collaps
